:root {
  --theme-base: 60;
  --theme-space: hsl(var(--theme-base), 70%, 5%);
  --theme-primary: hsl(var(--theme-base), 80%, 90%);
  --theme-star: hsla(var(--theme-base), 60%, 70%, 90%);
  --theme-background: hsl(var(--theme-base), 20%, 20%);
  --theme-ship: hsl(calc(var(--theme-base) + 40), 60%, 70%);
  --theme-active: hsl(calc(var(--theme-base) + 120), 80%, 50%);
  --thruster: hsl(calc(var(--theme-base) - 40), 100%, 70%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsl(var(--theme-base), 20%, 20%);
}